{% extends "admin/change_list.html" %} {% block content_title %}

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
/>
<script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<h1>Localizador</h1>
{% endblock %} {% block result_list %}
<style>
  .results table {
    counter-reset: rowNumber;
  }

  .results tbody tr {
    counter-increment: rowNumber;
  }

  .results tbody td.rank::before {
    content: counter(rowNumber);
  }

</style>
<div class="results">
  <table id="example">
    <thead>
      <tr>
        <th style="width: 12%">
          <div class="text">Zona 1</div>
        </th>
        <th style="width: 12%">
          <div class="text">
            <a href="#">Calle i</a>
          </div>
        </th>

        <th style="width: 12%">
          <div class="text">
            <a href="#">Calle f</a>
          </div>
        </th>

        <th style="width: 12%">
          <div class="text">
            <a href="#">Avenida i</a>
          </div>
        </th>

        <th style="width: 12%">
          <div class="text">
            <a href="#">Avenida f</a>
          </div>
        </th>

        <th style="width: 12%">
          <div class="text">
            <a href="#">Tienda</a>
          </div>
        </th>

        <th style="width: 10%">
          <div class="text">
            <a href="#">Area</a>
          </div>
        </th>

        <th style="width: 10%">
          <div class="text">
            <a href="#">Horario</a>
          </div>
        </th>

        <th style="width: 20%">
          <div class="text">
            <a href="#">Comentario</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in coloniasgt %}
      <tr>
        <td class=""><a href="/admin/localizar/localizar/{{row.id}}/change/">{{ row.zona}}</a></td>
        <td class="">{{ row.callei}}</td>
        <td class="">{{ row.callf}}</td>
        <td class="">{{ row.avenidai}}</td>
        <td class="">{{ row.avenidaf}}</td>
        <td class="">{{ row.tienda}}</td>
        <td class="">{{ row.area}}</td>
        <td class="">{{ row.horario_entrada}}</td>
        <td class="">{{ row.comentario}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    // Setup - add a text input to each footer cell
    $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');
 
    var table = $('#example').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
</script>
{% endblock %}
